{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        scicloj/notespace {:mvn/version "3-beta7"}
        techascent/tech.ml.dataset {:mvn/version "6.010"}
        scicloj/tablecloth {:mvn/version "6.006"}
        tick {:mvn/version "0.4.24-alpha"}}}

