{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        scicloj/tablecloth {:mvn/version "5.05"}
        techascent/tech.ml {:mvn/version "5.01"}
        time-literals/time-literals {:mvn/version "0.1.5"}
        scicloj/metamorph {:mvn/version "0.1.0-alpha2"}
        scicloj/metamorph.ml {:mvn/version "0.1.0-alpha2"}
        scicloj/notespace {:mvn/version "3-beta5"}}}
