{:paths ["src" "resources"]
 :deps {
        org.clojure/clojure {:mvn/version "1.10.3"}
        time-literals/time-literals {:mvn/version "0.1.5"}
        
        scicloj/scicloj.ml {:mvn/version "0.1.0-beta3"}
        scicloj/notespace {:mvn/version "3-beta7"}

        ;; org.scicloj/tablecloth.time {:mvn/version "1.00-alpha-2"}
        scicloj/tablecloth.time {:local/root "../../../tablecloth.time"}

        aerial.hanami/aerial.hanami {:mvn/version "0.12.7"}
        
        org.threeten/threeten-extra {:mvn/version "1.6.0"}

        techascent/tech.datatype {:mvn/version "5.18"}
        techascent/tech.ml.dataset {:mvn/version "6.006"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}        
}}
